{
	"extends": "liferay",
	"env": {
		"node": true,
		"es6": true
	},
	"rules": {
		"comma-dangle": "off",
		"camelcase": "off",
		"eol-last": ["error", "never"],
		"max-len": "off",
		"no-trailing-spaces": "error",
		"object-curly-spacing": "off",
		"require-jsdoc": "off"
	}
}
